{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    <div class="row">
        {% block descripcion %}
            <div class="col-md-8">
                <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Nuevo Empleado</p>
                <p class="robo" style="font-weight: 300; font-size: 14px; height: 40px;"> </p>
            </div>
        {% endblock%}
        {% block acciones %}
            <div class="col-md-4" style="margin-top: 50px;">
                <!-- Boton Delete -->
                <div class="btn-group pull-right">
                    <button class="btn btn-danger btn-sm" style="margin-left: 5px;" type="submit">Delete</button>
                </div>

                <!-- Boton Ingreso -->
                <div class="btn-group pull-right">
                    <a class="btn btn-primary btn-sm insertar" style="margin-left: 5px;" onClick="enviarf()">Guardar</a>
                </div>
                <!-- Small button -->
            </div>

        {% endblock %}

    </div>

{% endblock %}
{% block js_extend %}

  
      <script  type="text/javascript">
          
          jQuery(document).ready(function ($) {
             $('#sEstado').select2();
             $('#sEstado').select2();
             
             $('#fechaNacimiento').Zebra_DatePicker({
                            months:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                            format: 'd-m-Y',
                            direction:true,
                            show_clear_date:false,
                            show_select_today: "Hoy",
                        });

/*
    var numExpNomPac = $('#sEstado');
    initializeSelect2(numExpNomPac, true, false, {allowClear: true, pldivEsatdoaceholder: 'Seleccione Esatdo...'});*/
});


 $(document).on('ready',function(){
   var estado;
     $("#divEsatdo").empty();
    $.ajax({
                async: false,
                dataType: 'json',
                url:Routing.generate('datos_esatdo'),
                success: function(data) 
                {
                    estado = '<label for="ejemplo_archivo_1">Estado</label>\
                            <select class="form-control"  name="sEstado" id="sEstado" onChange=ciudad()>';
                     $.each(data.ArrayEstado, function (indice, val) {
                         estado+= '<option value="' + val.id + '">' + val.nombre + '</option>';
                     });
                     estado += ' </select></div></div> ';
                }
            });
             $("#divEsatdo").append(estado);
   });
  
  function ciudad()
  {
         var Dataciudad;
          $("#divCiudad").empty();
    $.ajax({
                async: false,
                dataType: 'json',
               data: {idEstado: $("#sEstado").val()},
                url:Routing.generate('datos_ciudad'),
                success: function(data) 
                {
                    Dataciudad = '<label for="ejemplo_archivo_1">Ciudad</label>\
                            <select class="form-control"  name="sCiudad" id="sCiudad" >';
                     $.each(data.ArrayCiudad, function (indice, val) {
                         Dataciudad+= '<option value="' + val.id + '">' + val.nombre + '</option>';
                     });
                     Dataciudad += ' </select></div></div> ';
                }
            });
             $("#divCiudad").append(Dataciudad);
  }
function enviarf()
{
   // var resp1=$("#txtresponsable").val();
  // var dato=$('#form1').serialize();
    /* do { 
        obj=obj.parentNode; 
    } while(obj.tagName!="FORM");
  var var1=obj.name;
  //alert(var1);
   
  var form="$('#"+var1+"').serialize()";*/
  //eval(form);
  //alert(form);

    jQuery(document).ready(function($) {
  
       $.ajax({
                type: "GET",
                url:Routing.generate('registrar_persona'),              
                data:{dato:$("#fdatos").serialize()},
                success: function(data) 
                {
                alert(data); 
                },
                  error : function(xhr, status) 
                  {
                   alert('Disculpe, existió un problema');
                },
            });
        });
 
    return false;
}
      
      </script>
      
      
  {% endblock %} 

{% block navegacion_Y_body %}
    <div class="row">
        {% block navegacion %}
            <hr style="margin-top: 0px !important;">
            <div class="col-md-2" style="border-right: 1px solid #f3f3f3;">
                <!-- Left Navigation -->
                <ul style="list-style: none; padding: 0;">
                    <a href="{{ path('ctlpais_index') }}" class="leftnava"><li class="leftnav left active">Menu<span class="pull-right right"></span></li></a>
                            {# <a href="{{ path('ctlpais_configuracion') }}" class="leftnava"><li class="leftnav left">Configuraci&oacute;n</li></a>#}
                    <a href="#" class="leftnava"><li class="leftnav left">Reportes</li></a>
                </ul>
            </div>
        {% endblock %}
        {% block cuerpo %}
            {# Definicion de variables#}

                <div  class="col-md-10 border_tab">
                            <div class="panel-body" id="tabContenedor">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist" >
                                    <li class="active"><a href="#datos_personales" role="tab" data-toggle="tab">Datos personales</a></li>
                                    <li><a href="#detalle_emplep" role="tab" data-toggle="tab" onClick="con_expediente('')" >Datlle del empleo</a></li>
                                    <li><a href="#expediente" role="tab" data-toggle="tab" onClick="con_expediente('')" >Perfil del puesto</a></li>
                                    <li><a href="#expediente" role="tab" data-toggle="tab" onClick="con_expediente('')" >Detalles de contacto</a></li>
                                    <li><a href="#expediente" role="tab" data-toggle="tab" onClick="con_expediente('')" >Formación académica</a></li>
                                    <li><a href="#expediente" role="tab" data-toggle="tab" onClick="con_expediente('')" >Experiencia laboral previa</a></li>
                                <!--    <li><a href="#expediente" role="tab" data-toggle="tab" onClick="con_expediente('')" >Historia en la Compañia</a></li> -->   
                                 </ul>
                                <!-- Tab panes -->
                                <div class="tab-content"  ><!-- style="border:1px solid silver; border-top: 0px;"-->
                                    <div class="tab-pane fade in active" id="datos_personales" >
                                        
                                 <form role="form" id="fdatos">
                                     <div class="form-column col-sm-6">
                                         <div class="form-group">
                                             <label for="nombreEmpleado">Nombre</label>
                                             <input type="text" class="form-control" id="txtnombre" name="txtnombre"
                                                    placeholder="Nombre del empleado">
                                         </div>
                                         <div class="form-group">
                                             <label for="ejemplo_password_1">Apellido</label>
                                             <input type="text" class="form-control"  id="txtapellido" name="txtapellido" 
                                                    placeholder="Apellido empleado">
                                         </div>
                                          <div class="form-group">
                                             <label for="ejemplo_password_1">Genero</label>
                                            <select class="form-control" id="genero" name="genero">
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select>
                                         </div>
                                          <div class="form-group">
                                             <label for="ejemplo_password_1">Dui</label>
                                             <input type="text" class="form-control" id="ejemplo_password_1" 
                                                    placeholder="Apellido empleado"  id="txtdui" name="txtdui">
                                         </div>
                                          <div class="form-group">
                                             <label for="ejemplo_password_1">Nit</label>
                                             <input type="text" class="form-control" id="ejemplo_password_1" 
                                                    placeholder="Apellido empleado"  id="txtnit" name="txtnit">
                                         </div>
                                           <div class="form-group">
                                             <label for="ejemplo_password_1">Fecha de nacimiento</label>
                                             <input type="text" class="form-control" id="fechaNacimiento" 
                                                    placeholder="Apellido empleado" name="fechaNacimiento">
                                         </div>
                                        
                                     </div>
                                     
                                     <div class="form-column col-sm-6">
                                     
                                          <div class="form-group" id="divEsatdo">
                                              <label for="ejemplo_archivo_1">Estado</label>
                                             <select class="form-control">
                                                <option></option>
                                                <option></option>
                                            </select>
                                         </div>
                                         <div class="form-group" id="divCiudad">
                                             <label for="ejemplo_archivo_1">Ciudad</label>
                                             <select class="form-control">
                                                <option></option>
                                                <option></option>
                                            </select>
                                         </div>
                                         <div class="form-group">
                                             <label for="ejemplo_password_1">Direccion</label>
                                             <input type="text" class="form-control" id="ejemplo_password_1" 
                                                    placeholder="Apellido empleado">
                                         </div>
                                         <div class="form-group">
                                             <label for="ejemplo_archivo_1">Telefono</label>
                                              <input type="text" class="form-control" id="ejemplo_password_1" 
                                                    placeholder="Apellido empleado">
                                         </div>
                                          <div class="form-group">
                       
                                             <label for="ejemplo_archivo_1">Celular</label>
                                              <input type="text" class="form-control" id="ejemplo_password_1" 
                                                    placeholder="Apellido empleado">
                                         </div>
                                     
                                        
                                     </div>
                                 </form>
                                       
                                                    
                                    </div>  
                                                    
                                     <div class="tab-pane fade" id="detalle_emplep" >

                                    hola
                                    </div>
                                      <!-- fin panel tab -->
                                </div>             
                              
                            </div>                            
                <!-- Fin de Tab conten-->
             </div>

    {% endblock %}
{% endblock %}

 
